<div class="remove-container container-block">
  <div class="education-container">
                <h2 class="container-block-title">Education</h2>
                <div class="item">
                    <h4 class="degree">MSc in Computer Science</h4>
                    <h5 class="meta">University of London</h5>
	                    <div class="time">2016 - 2018</div>
                </div><!--//item-->
                <div class="item">
                    <h4 class="degree">BSc in Applied Mathematics</h4>
                    <h5 class="meta">Bristol University</h5>
                    <div class="time">2012 - 2016</div>
                </div><!--//item-->
            </div><!--//education-container-->
  <h2 class="container-block-title">
   Area of interest
  </h2>
  <ul class="list-unstyled interests-list">
    <li>★ IT Consultancy & Project Management</li>
    <li>★ Software & Web Application Development</li>
    <li>★ Web & E-Commerce Design & Development</li>
    <li>★ Digital Design & Branding</li>
    <li>★ Digital Marketing</li>
    <li>★ Network Planning, Implementation & Audit</li>
    <li>★ Domain & Web Host Services</li>
    <li>★ Training & Development</li>
     
  </ul>
 <script type="text/javascript" src="https://platform-api.sharethis.com/js/sharethis.js#property=65ff2ace95cfbf00121e8853&product=sticky-share-buttons&source=platform" async="async"></script>
  <script src="https://static.elfsight.com/platform/platform.js" data-use-service-core defer></script>
<div class="elfsight-app-c72f7211-b01e-48e8-b75f-d8a453041f59" data-elfsight-app-lazy></div>
</div><!--//About-->
