<div class="remove-container container-block">
  <h2 class="container-block-title">
   Area of interest
  </h2>
  <ul class="list-unstyled interests-list">
    <li>★ IT Consultancy & Project Management</li>
    <li>★ Software & Web Application Development</li>
    <li>★ Web & E-Commerce Design & Development</li>
    <li>★ Digital Design & Branding</li>
    <li>★ Digital Marketing</li>
    <li>★ Network Planning, Implementation & Audit</li>
    <li>★ Domain & Web Host Services</li>
    <li>★ Training & Development</li>
     
  </ul>
 
  <script src="https://static.elfsight.com/platform/platform.js" data-use-service-core defer></script>
<div class="elfsight-app-c72f7211-b01e-48e8-b75f-d8a453041f59" data-elfsight-app-lazy></div>
</div><!--//About-->
